<a href="https://colab.research.google.com/github/sujnkim/Algorithm-study/blob/main/resolve/ch06%2Cch14sorting%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 6-10: 위에서 아래로

수열을 내림차순으로 정렬하는 프로그램

In [3]:
n = 3
array = [15, 27, 12]

In [6]:
array = sorted(array, reverse=True)

print(*array)

27 15 12

### 6-11: 성적이 낮은 순서로 학생 출력

학생 이름과 성적 정보가 주어졌을 때 성적이 낮은 순서로 학생 이름 출력하기

In [7]:
n = 2
array = [('홍길동', 95), ('이순신', 77)]

In [11]:
array = sorted(array, key=lambda student: student[1])

for student in array:
    print(student[0], end=' ')

이순신 홍길동

### 6-12: 두 배열의 원소 교체

k번 바꿔치기를 수행하여 배열 a의 모든 원소 합이 최대가 되도록 만들기
=> a의 작은 것과 b의 큰 것을 교환

In [12]:
n = 5   #원소 개수
k = 3   #최대 바뀌치기 횟수

a = [1,2,5,4,3]
b = [5,5,6,6,5]

In [13]:
a.sort()
b.sort(reverse=True)

for i in range(k):
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]
    else:
        break

print(sum(a))

26

### 14-26: 국영수

n명의 이름과 국어, 영어, 수학 점수가 주어질 때 학생의 성적을 정렬하는 프로그램.
* 국어 점수 내림차순
* 국어점수가 같으면, 영어 점수 오름차순
* 국어, 영어가 모두 같으면 수학 점수 내림차순
* 모든 점수가 같으면 이름 사전순 증가

In [15]:
n = 12

array=[
    ('Junkyu', 50, 60, 100),
    ('Sangkeun', 80, 60, 50),
    ('Sunyoung', 80, 70, 100),
    ('Soong', 50, 60, 90),
    ('Haebin', 50, 60, 100),
    ('Kangsoo', 60, 80, 100),
    ('Donghyuk', 80, 60, 100),
    ('Sei', 70, 70, 70),
    ('Wonseob', 70, 70, 90),
    ('Sanghyun', 70, 70, 80),
    ('nsj', 80, 80, 80),
    ('Taewhan', 50, 60, 90)
]

In [16]:
array.sort(key= lambda x: (-x[1], x[2], -x[3], x[0]) )

for student in array:
    print(student[0])

Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan

### 14-24: 안테나

안테나로부터 모든 집까지의 거리의 총합이 최소가 되도록 설치

In [17]:
n = 4
houses = [5, 1, 7, 9]

In [19]:
houses.sort()

print(houses[(n-1)//2])

5

### 14-25: 실패율

실패율을 구하는 코드 작성
* 스테이지에 도달했으나 아직 클리어하지 못한 플레이어 수 / 스테이지에 도달한 플레이어 수

In [29]:
def solution(n, stages):

    stage_cnt = [0] * (n+2)
    calc_result = []
    total = len(stages)

    for i in stages:
        stage_cnt[i] += 1

    for i in range(1, n+1):
        calc = stage_cnt[i] / total

        calc_result.append((calc, i))
        total -= stage_cnt[i]

    calc_result.sort(key = lambda x: (-x[0], x[1]))


    result = []
    for t in calc_result:
        result.append(t[1])

    return result

In [32]:
# 책 답안 코드

def solution(n, stages):
    result = []
    total = len(stages)

    for i in range(1, n+1):
        count = stages.count(i)

        if total == 0:
            fail = 0
        else:
            fail = count / total

        result.append((i, fail))
        total -= count

    result.sort(key=lambda t: t[1], reverse=True)

    result = [i[0] for i in result]
    return result

In [33]:
n = 5
stages = [2,1,2,6,2,4,3,3]

print(solution(n, stages))

[3, 4, 2, 1, 5]

In [34]:
n=4
stages = [4,4,4,4,4]

print(solution(n, stages))

[4, 1, 2, 3]

### 14-26: 카드 정렬하기

카드 묶음 a, b를 합칠 때 최소 몇 번을 비교해야 하는지 계산
=> 항상 가장 작은 두 개를 뽑으면 됨

In [1]:
n = 3
array = [10, 20, 40]

In [2]:
import heapq

heap = []
for i in range(n):
    heapq.heappush(heap, array[i])

result = 0
while len(heap)!=1:
    one = heapq.heappop(heap)
    two = heapq.heappop(heap)
    calc = one + two
    heapq.heappush(heap, calc)

    result += calc

print(result)

100

### 백준 2750: 수 정렬하기

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오

In [37]:
n = 5
array = [5,2,3,4,1]

array.sort()

for i in range(5):
    print(array[i])

1
2
3
4
5