<a href="https://colab.research.google.com/github/sujnkim/Algorithm-study/blob/main/python/map%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **map함수**
```
map(function, iterable, ...)
```

참고한 내용
1. https://docs.python.org/ko/3/library/functions.html#map
2. https://wikidocs.net/32#map 

---
* **여러 데이터를 한 번에 다른 형태로** 변환시키기 위해 사용함
* 반복가능한 자료형 iterable: 리스트, 튜플 등
* 입력받은 자료형 **iterable의 각 요소에 대해 함수 function이 수행한 결과를 묶어서** 반환
    * 원본 iterable 객체를 변화시키지 않고 새로운 map타입 객체를 생성하여 반환
    * map타입으로 결과를 반환하므로, **리스트/튜플 등으로 변환하여 저장**

In [1]:
# 문자열로 저장된 각 요소를 전부 정수로 변환

ary = ['1','2','3']
a = list(map(int,ary))      # list로 결과 변환 후 저장
print(ary)
print(a)

['1', '2', '3']
[1, 2, 3]

In [5]:
def two_times(n):
    return n*2

ary = [1,2,3,4,5]
list(map(two_times,ary))

[2, 4, 6, 8, 10]

In [6]:
# plusone함수를 만들지 않고
# 람다식을 활용하면 간단해진다

list(map(lambda n:n*2,ary))

[2, 4, 6, 8, 10]