<a href="https://colab.research.google.com/github/sujnkim/Algorithm-study/blob/main/python/min%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **min() 함수**
```
min(iterable, *[,key,default])  # 인자 1개
min(arg1, arg2, *args[,key])    # 인자 2개이상
```
참고: https://docs.python.org/ko/3/library/functions.html#min

* 파이썬 내장 함수이므로 import 없이 사용 가능
* 하나의 위치 인자로 주어진 **iterable 객체에서 가장 작은 항목** 반환
    * 즉, 하나의 위치 인자가 전달 될 경우 그것은 iterable 이어야 함
    * iterable : 반복 가능한, 하나씩 접근 할 수 있는 데이터 타입. 문자열, 리스트, 튜플
* **두 개 이상 인자 중 가장 작은 것** 반환
    * 두 개 이상의 인자가 주어질 경우, 위치 인자 중 작은 것을 반환

#### min(iterable) 예제

In [11]:
# 인자: 1개의 리스트

a = [3,1,2]
print(min(a))

1

In [7]:
# 인자: 1개의 문자열
# 가장 빠른 알파벳 반환

a = 'hello'
print(min(a))

e

In [9]:
# 인자: 1개의 튜플

a = (1,2,3,3,0)
print(min(a))

0

In [8]:
# 인자: iterable이 아닐 경우
# TypeError 발생

a = 34
print(min(a))

TypeError: ignored

In [10]:
# 인자: iterable 내의 type이 섞여있을 경우
# TypeError 발생

a = (1,2,3,'a','b')
print(min(a))

TypeError: ignored

#### min(arg1, arg2) 예제

In [ ]:
# 인자가 리스트
# 앞에서부터 비교해나감(같을 경우 다음 것을 체크)

a = [1,2,3]
b = [6,5,4]
print(min(a,b))

a = [0,2,4,6]
b = [1,3,5,8]
print(min(a,b))

[1, 2, 3]
[0, 2, 4, 6]

In [ ]:
a = [3,2,1]
b = [3,2,1,0]
print(min(a,b))

[3, 2, 1]

In [ ]:
# 데이터 타입이 다를 경우
# TypeError 발생

a = [3,2,1]
b = [3,'a',4,5,6]
print(min(a,b))

TypeError: ignored

In [ ]:
a = [3,2,1]
b = [1,'a',4,5,6]
print(min(a,b))     # 3vs1에서 이미 결과가 발생

[1, 'a', 4, 5, 6]

In [ ]:
# 인자가 n개

a = [3,2,1]
b = [1,4,5,6]
c = [0]
print(min(a,b,c))

[0]