<a href="https://colab.research.google.com/github/sujnkim/Algorithm-study/blob/main/python/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **입출력 참고 및 실습**
<이것이 취업을 위한 코딩테스트다> Appendix A

ch5. 입출력: p.444~448

### **입력**

---
#### **여러 개의 데이터를 한 번에 받기**
```
data = list(map(int,input().split()))
n, m = map(int,input().split())
```

* input 함수: 사용자 입력을 받음
    * https://github.com/sujnkim/Algorithm-study/blob/main/python/input%ED%95%A8%EC%88%98.ipynb
* split 함수: 한 번에 입력 받은 여러 데이터를 구분
* map 함수: 여러 데이터를 한 번에 다른 형태로 변환 
    * https://github.com/sujnkim/Algorithm-study/blob/main/python/map%ED%95%A8%EC%88%98.ipynb

In [1]:
# 입력을 위한 전형적인 소스코드
#-------------------------------

#데이터 개수 입력
n = int(input())

#각 데이터를 공백으로 구분하여 입력
data = list(map(int,input().split()))

data.sort(reverse=True)
print(data)

4
5 8 3 5
[8, 5, 5, 3]

In [2]:
#공백을 기준으로 하여 적은 수의 데이터 입력
#------------------------------------------

# n, m, k를 공백으로 구분하여 입력
n, m, k = map(int,input().split())

print(n, m, k)

8 5 3
8 5 3

---
#### **sys.stdin.readline()**
```
import sys
sys.stdin.readline().rstrip()
```
* input 함수는 동작 속도가 느림
    * **입력 개수가 많을 경우**, 시간초과 오답 판정
* sys 라이브러리의 **sys.stdin.readline()함수** 사용
* rstrip() : sys라이브러리 사용 할 때 한 줄 입력 받은 후 꼭 호출해야함. readline()으로 입력받으면 엔터가 줄바꿈 기호로 남아있는데, 이것을 제거하기 위함.

In [ ]:
# readline() 사용 소스코드 예시
#------------------------------
import sys

# 문자열 입력받기
data = sys.stdin.readline().rstrip()
print(data)

---
---

### **출력**

#### **print 함수**
* 변수, 상수를 매개변수로 입력받아 표준 출력
* 각 변수를 콤마(,)로 구분하여 매개변수로 넣을 수 있음
    * 띄어쓰기로 구분되어 표준 출력
* 표준 출력 이후 줄 바꿈 수행

In [4]:
# 변수 출력 예시
#----------------

# 출력할 변수들
a = 30
b = 40
print(a, b)

70

In [5]:
# 출력 줄 바꿈 예시
#------------------

a = 30
b = 40
print(a)
print(b)

30
40

---
* 문자열, 수를 단순히 '+'로 연결하면 오류 발생
    * **문자열 자료형끼리만 '+'로 연결** 가능
    * 자바에서는 문자열과 수를 더하면 자동으로 수가 문자열로 변환되지만, 파이썬은 그렇지 않음
    * 해결1: **str()**을 써서 문자열로 바꾼 후 +
    * 해결2: **콤마(,)**로 연결(공백 삽입됨)
    * 해결3: **f-string** 방식

In [9]:
# 출력 시 오류가 발생하는 소스코드
#---------------------------------
answer = 10
print("정답은 "+ answer+ "입니다.")

TypeError: ignored

In [10]:
# 해결1: 변수를 문자열로 바꾸어 출력
#------------------------------------
answer = 10
print("정답은 "+str(answer)+"입니다.")

정답은 10입니다.

In [11]:
# 해결2: 각 변수를 콤마(,)로 구분하여 출력
#------------------------------------------
answer = 10
print("정답은",answer,"입니다.")

정답은 10 입니다.

In [12]:
# 해결3: f-string
#-----------------
answer = 10
print(f"정답은 {answer}입니다.")

정답은 10입니다.